<launch>

  <group  ns="Pioneer3AT">
	  <!-- http://www.ros.org/wiki/map_server -->
	  <!-- Use demo_navigation_gmapping.launch to make a map and save it to disk -->
	  <node name="map_server" pkg="map_server" type="map_server" args="$(env HOME)/ros/maps/map.yaml">  
  	  <param name="frame_id" type="str" value="/Pioneer3AT/map"  />
	  </node>

	  <node pkg="amcl" type="amcl" name="amcl" >
	    <rosparam file="$(find pioneer3at)/config/amcl/amcl.yaml" command="load"  />
	    <remap from="scan" to="laserscan" />
	  </node>
	
	  <!-- Distribute pose array across free space --> 
	  <!--  <node pkg="rosservice" type="rosservice" name="global_loc" args="call -!-wait /global_localization"/>-->
	
	      <!-- Temporary workaround for Groovy's roservice -->
	      <node pkg="pioneer3at" type="amcl_init" name="pioneer3at_amcl_init"/>
	</group>
	
</launch>
