<launch>
  
  <!-- convert laserscan to pointcloud -->
	<node pkg="laser_filters" type="scan_to_cloud_filter_chain" name="laser2cloud">	
	  <rosparam file="$(find pioneer3at)/config/laser2cloud.yaml" command="load" />
	  
	  <remap from="scan" to="/Hokuyo/first" />
	  <remap from="/cloud_filtered" to="/Hokuyo/first/cloud" />
	</node>  
  
  <!-- http://wiki.ros.org/octomap_server -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap">	
	  <rosparam file="$(find pioneer3at)/config/octomap.yaml" command="load" />
	  
	  <remap from="cloud_in" to="/Hokuyo/first/cloud" />
    
    <remap from="octomap_binaray"             to="~octomap_binaray" />
    <remap from="occupied_cells_vis_array"    to="~occupied_cells_vis_array" />
    <remap from="octomap_point_cloud_centers" to="~octomap_point_cloud_centers" />
    <remap from="octomap_collision_object"    to="~octomap_collision_object" />
    <remap from="collision_map_out"           to="~collision_map_out" />
    <remap from="projected_map"               to="~projected_map" />
    
	</node>
	
</launch>
