<launch>

	<!-- node pkg="ps3joy" type="ps3joy.py" name="ps3joy" args="- -continious-output"/ -->
	
	<node pkg="joy" type="joy_node" name="ps3_joy_node" >
		<rosparam file="$(find pioneer3at)/config/ps3_joy_node.yaml" command="load" />
	</node>
	
	<node pkg="pioneer3at" type="teleop_joy" name="Pioneer3AT_ps3_teleop" >
	  <remap from="cmd_vel" to="/Pioneer3AT/ps3joy/cmd_vel" />
	  
	  <param name="linear_axis"      type="int"    value="1" />
	  <param name="linear_scale"     type="double" value="0.8" />
	  
	  <param name="rotation_axis"    type="int"    value="0" />
	  <param name="rotation_scale"   type="double" value="1.5" />
	  
	  <param name="abort_nav_button" type="int"    value="12" /> <!-- PS3 Triangle -->
	</node>	

</launch>
