<launch>

	<node pkg="rqt_robot_steering" type="rqt_robot_steering" name="Pioneer3AT_rqt_teleop">
	  <param name="default_topic" type="str" value="/Pioneer3AT/rqt/cmd_vel" />
	  <param name="default_vx_max" type="double" value="0.8" />
	  <param name="default_vx_min" type="double" value="-0.8" />
	  <param name="default_vw_max" type="double" value="1.5" />
	  <param name="default_vw_min" type="double" value="-1.5" />
	</node>
	
</launch>
