<launch>

	<!-- 
	Select the driver you wish to use 
	-->
	<include file="$(find pioneer3at)/config/roslaunch/core/p2os_driver.launch" />
	<!-- <include file="$(find pioneer3at)/config/roslaunch/core/rosaria.launch" /> -->
	
	<!-- 
	Select the laser you wish to use 
	-->
	<include file="$(find pioneer3at)/config/roslaunch/lidar/sicklms.launch" /> 
	<!-- <include file="$(find pioneer3at)/config/roslaunch/lidar/hokuyo.launch" /> -->
	
	<!-- 
	Select the control method you wish to use 
	-->
	<include file="$(find pioneer3at)/config/roslaunch/control/ps3joy.launch" />
	<!-- <include file="$(find pioneer3at)/config/roslaunch/control/xboxjoy.launch" /> -->
	
	<include file="$(find pioneer3at)/config/roslaunch/core/urdf.launch" />
	
</launch>


