<launch>
	
  <!-- Run AMCL -->  

  <!-- You will need to specify the path for the map file in amcl.launch -->
	<include file="$(find pioneer3at)/launch/amcl.launch" />


	<!-- Run navigation -->
	<include file="$(find pioneer3at)/launch/navigation.launch" />


	<!-- Run Hardware Drivers -->
	<include file="$(find pioneer3at)/launch/lrf_p2os_teleop.launch" /> 

</launch>
