<launch>

  <!-- Configure this launch file for your hardware setup  -->
	<include file="$(find pioneer3at)/config/roslaunch/hardware.launch" />
	
	
	<!-- Launch Applications  -->
	<include file="$(find pioneer3at)/config/roslaunch/apps/gmapping.launch" />
	<include file="$(find pioneer3at)/config/roslaunch/apps/navigation.launch" />
	
</launch>



