<launch>
	<include file="$(find pioneer3at)/launch/p2os_driver.launch" />
		
	<node pkg="p2os_teleop" type="p2os_teleop" name="p2os_teleop">
		<remap from="/des_vel" to="/move_base/cmd_vel" />
		<rosparam file="$(find pioneer3at)/config/p2os/p2os_teleop_ps3.yaml" command="load" />
	</node>
	
	<node pkg="joy" type="joy_node" name="joy_node" />
</launch>
