<launch>
	<!-- run script to control the vitual pioneer -->
	<node pkg="pioneer3at" type="gazebo_bridge" name="Pioneer3AT_Gazebo" >	
	  <param name="ros_odom_frame"          type="str"    value="/Pioneer3AT/odom" />
	  <param name="ros_child_frame"         type="str"    value="/Pioneer3AT/chassis" />
	  <param name="ros_odom_tf_future_date" type="double" value="0.1" />
	  
	  <param name="gz_model_name"     type="str" value="Pioneer3AT" />
	  <param name="gz_pose_topic"     type="str" value="~/pose/info" />
	  <param name="gz_cmd_vel_topic"  type="str" value="~/Pioneer3AT/vel_cmd" />
	  
		<remap from="/odom"    to="/Pioneer3AT/odom" />
		<remap from="/cmd_vel" to="/Pioneer3AT/cmd_vel" />
	</node>
</launch>
